<section class="my-4 max-w-5xl mx-auto mb-8" style="min-height: 300px">
  <div class="text-4xl md:text-5xl font-bold mb-2">Projects</div>
  {{ range $index, $val := .Site.Params.project }}
  <div
    class="flex mb-8 md:mb-4 md:flex-row {{ if (modBool $index 2) }} flex-col {{ else }} flex-col-reverse {{ end }}"
  >
    {{ if (modBool $index 2) }}
    <!-- The title, tags, and description -->
    <div class="w-full md:w-1/3 md:flex-grow md:my-4">
      <div class="text-2xl my-1">{{ $val.title }}</div>
      <div class="flex flex-row flex-wrap">
        {{ range .tags }}

        <!-- The tags -->
        <span
          class="
            flex-initial
            text-center
            font-weight-bold
            text-xs
            mr-2
            my-1
            px-1
            py-1
            border-2
            rounded-lg
            bg-gray-200
            dark:bg-gray-900 dark:border-gray-100
          "
        >
          {{.}}
        </span>
        {{ end }}
      </div>
      <p class="mt-2 font-light">{{ $val.description }}</p>
    </div>

    <!-- The preview image and link -->
    <div class="w-full my-2 md:w-2/3 md:ml-4 md:pl-2 md:py-2 md:my-4">
      <a href="{{$val.link}}">
        <img
          class="
            object-contain
            box-border
            rounded-2xl
            h-auto
            w-full
            transform
            transition
            duration-500
            md:hover:scale-105 md:hover:shadow-2xl
          "
          src="{{$val.preview}}"
          alt="{{$val.title}}"
        />
      </a>
    </div>

    {{ else }}

    <!-- The preview image and link -->
    <div class="w-full my-2 md:w-2/3 md:mr-4 md:pr-2 md:my-2 md:my-4">
      <a href="{{$val.link}}">
        <img
          class="
            object-contain
            box-border
            rounded-2xl
            h-auto
            w-full
            transform
            transition
            duration-500
            md:hover:scale-105 md:hover:shadow-2xl
          "
          src="{{$val.preview}}"
          alt="{{$val.title}}"
        />
      </a>
    </div>
    <!-- The title, tags, and description -->
    <div class="w-full md:w-1/3 md:flex-grow md:my-4">
      <div class="text-2xl my-1">{{ $val.title }}</div>
      <div class="flex flex-row flex-wrap">
        {{ range .tags }}

        <!-- The tags -->
        <span
          class="
            flex-initial
            text-center
            font-weight-bold
            text-xs
            mr-2
            my-1
            px-1
            py-1
            border-2
            rounded-lg
            bg-gray-200
            dark:bg-gray-900 dark:border-gray-100
          "
        >
          {{.}}
        </span>
        {{ end }}
      </div>
      <p class="mt-2 font-light">{{ $val.description }}</p>
    </div>
    {{ end }}
  </div>
  {{ end }}
</section>
