<section class="my-4 max-w-5xl mx-auto">
  <div class="text-3xl font-bold mb-4">Experience</div>
  <hr class="mb-4" />

  <div class="grid gap-4">
    <!-- Work Experience -->
    <div>
      <div class="text-2xl font-semibold mb-4">Work Experience</div>
      {{ range .Site.Params.homepage.resume.work}}
      <div class="mb-4">
        <div class="text-xl font-bold my-1">{{.name}}</div>
        <p class="text-lg my-1 font-light">{{.role}}</p>
        <p class="text-gray-500 my-1">{{.duration}}</p>
        {{ range $index, $val := .details }}
        <ul class="font-light my-1 ml-8">
          <li class="list-disc">{{ $val }}</li>
        </ul>
        {{ end }}
      </div>
      {{ end }}
    </div>
    <hr />
    <!-- Skills -->
    <div>
      <div class="text-2xl font-semibold mb-4">Skills</div>
      {{ with .Site.Params.homepage.resume.skills }}
        {{ range $index, $val := .languages}}
        <div class="font-light my-2">{{.}}</div>
        {{end}}

      {{ end }}
    </div>
    <hr />
    <!-- Courses -->
    <div>
      <div class="text-2xl font-semibold mb-4">Courses</div>
      {{ range .Site.Params.homepage.resume.courses}}
      <div>
        <div class="text-xl font-bold my-2">{{.name}}</div>
        <p class="my-1 font-light">by {{.provider}}</p>
        <p class="text-gray-500 my-1">{{.duration}}</p>
      </div>
      {{ end }}
    </div>
    <hr />
  </div>
</section>
